

@{
    ViewData["Title"] = "Index";
}

<!-- Need to use the model on the Quadrant view. Task is the model name-->


@model List<Mission6.Models.Task>; 

<div class="container border-dark table-bordered " style="border-radius: 10px; border-width: 5px;">
    <!-- First row with title of the grid-->
    <div class="row table-bordered">
        <div class="col text-center table-bordered" style="font-size: 25px;">Stephen Covey's Time Management Matrix</div>
    </div>
    <div class="row table-bordered">
        <div class="col table-bordered"></div>
        <div class="col text-center table-bordered font-weight-bold">URGENT</div>
        <div class="col text-center table-bordered font-weight-bold">NOT URGENT</div>
    </div>

    <!-- Second Row with Important, Quadrant 1, and Quadrant 2-->
    <div class="row table-bordered">
        <div class="col text-center table-bordered font-weight-bold">IMPORTANT</div>

        <div class="col text-center table-bordered">
            <a class="text-center">Quadrant 1</a>  <br />
            <p>
                @foreach (var x in Model) //enables user to see all of the tasks in the database
                {
                    if (@x.Quadrant == 1)
                    {
                        if (@x.Completed == false)
                        { 
                            @x.TaskName

                            <a style="font-size: 12px;" asp-controller="Home" asp-action="Update" asp-route-taskid="@x.TaskId">Edit</a>
                            <a style="font-size: 12px;" asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                        }
                        <br /> 
                    }
                }
            </p>
        </div>

        <div class="col text-center table-bordered">
            <a class="text-center">Quadrant 2</a>  <br />
            <p>
                @foreach (var x in Model) //enables user to see all of the tasks in the database
                {
                    if (@x.Quadrant == 2)
                    {
                        if (@x.Completed == false)
                        {
                            @x.TaskName
                            <a style="font-size: 12px;" asp-controller="Home" asp-action="Update" asp-route-taskid="@x.TaskId">Edit</a>
                            <a style="font-size: 12px;" asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                        }
                        <br />
                    }
                }
            </p>
        </div>
    </div>

    <!-- Third row with Not important, Quadrant 3, and Quadrant 4-->
    <div class="row table-bordered">
        <div class="col text-center table-bordered font-weight-bold">NOT IMPORTANT</div>
        <div class="col text-center table-bordered">
            <a class="text-center">Quadrant 3</a>  <br />
            <p>
                @foreach (var x in Model) //enables user to see all of the tasks in the database
                {
                    if (@x.Quadrant == 3)
                    {
                        if (@x.Completed == false)
                        {
                            @x.TaskName
                            <a style="font-size: 12px;" asp-controller="Home" asp-action="Update" asp-route-taskid="@x.TaskId">Edit</a>
                            <a style="font-size: 12px;" asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                        }
                        <br /> 
                    }
                }
            </p>
        </div>

        <div class="col text-center table-bordered">
            <a class="text-center">Quadrant 4</a>  <br />
            <p>
                @foreach (var x in Model) //enables user to see all of the tasks in the database
                {
                    if (@x.Quadrant == 4)
                    {
                        if (@x.Completed == false)
                        {
                            @x.TaskName
                            <a style="font-size: 12px;" asp-controller="Home" asp-action="Update" asp-route-taskid="@x.TaskId">Edit</a>
                            <a style="font-size: 12px;" asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                        }
                        <br /> 
                    }
                }
            </p>
        </div>
    </div>
</div>
